<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>更多</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/icons-extra.css"/>
		<style type="text/css">
			.mui-content li a{
				font-size: 15px;
				color: #008000;
			}
			.mui-content li a label{
				margin-left: 5px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">更多</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" style="color: red;">
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right mui-icon-extra mui-icon-extra-notice"><label for="">公告</label></a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right mui-icon mui-icon-gear" href="setting.html"><label for="">设置</label></a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right mui-icon mui-icon-help"><label for="">帮助</label></a>
			    </li>
			    <li class="mui-table-view-cell">
			        <a class="mui-navigate-right mui-icon-extra mui-icon-extra-custom"><label for="">咨询</label></a>
			    </li>
			</ul>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>